/* TODO delete comment */
/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  background-attachment: fixed;
  background-image: 
    repeating-linear-gradient(to right, var(--gradient-line-color) 0px 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, var(--gradient-line-color) 0px 2px, transparent 2px 4px),
    var(--gradient);
  background-size: cover;
  color: var(--accent-color);
  font-family: var(--content-text);
  font-variation-settings: 'wght' var(--font-wght);
}

.card {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  max-inline-size: clamp(24.375rem, 16.2852rem + 30.5164vw, 43.75rem);
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--accent-text);
  padding-block-start: clamp(7.5rem, 6.3462rem + 4.9231vw, 8.5rem);
  margin: 100px auto;
}

.header__title {
  font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  text-transform: uppercase;
}

.header__theme-menu {
  position: relative;
  transform: translateX(8px);
  margin: 24px 0 25px;
}

.theme-menu__list {
  display: grid;
  row-gap: 10px;
  position: relative;
}

.theme-menu__button {
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  padding-inline-start: 0;
  padding-inline-end: 0;
  position: relative;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  transition: opacity 0.3s ease;
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button::after {
  border-bottom: 2px solid currentColor;
  content: '';
  inline-size: 100%;
  inset-block-end: -2px;
  inset-inline-start: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: left bottom;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  inset-inline-start: -19px;
  animation: play 0.5s ease-in-out alternate infinite;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.card-title {
  font-size: 18px;
  line-height: 21.78px;
  padding: 5px 10px 3px;
  font-variation-settings: 'wght' var(--title-wght);
  border-block-end: 2px solid var(--accent-color);
}

.card-image-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.card-image-label {
  font-family: var(--accent-text);
  font-size: 14px;
  line-height: 14px;
  position: absolute;
  inset-inline-end: 25px;
  inset-block-start: 25px;
  text-shadow:
    -1px 0 var(--text-shadow), 
    0 1px var(--text-shadow), 
    1px 0 var(--text-shadow), 
    0 -1px var(--text-shadow);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #000) or (-webkit-text-stroke: 1px #000)) {
  .card-image-label {
      -webkit-text-stroke: 1px var(--text-shadow);
      text-stroke: 1px var(--text-shadow);
      text-shadow: none;
  }
}

@media (width <= 375px) {
  .card-image-label {
    inset-inline-end: 13px;
  }
}

.card-image {
  inline-size: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  margin-top: -5px;
  padding: 25px;
  border-block-start: 2px solid var(--accent-color);
}

.paragraph {
  margin-block-start: 2px;
}

.card-content .paragraph:nth-of-type(2) {
  margin-block-start: 27px;
}

.card__button-wrapper {
  align-self: flex-end;
  display: flex;
  gap: 4px;
  max-block-size: 38px;
  margin-block-start: 25px;
}

.card__icon-button {
  padding: 0;
  border: 2px solid transparent;
}

.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill .1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill .3s .06s linear;
}

.like-icon .main-body {
  fill: var(--bg-color);
  transition: fill .3s .03s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill .3s linear .05s;
}

.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: fill .3s linear .05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill .3s linear;
}

.like-icon .core {
  fill: var(--bg-color);
  transition: fill .3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill .3s linear;
}

.like-icon:active .core {
  fill: var(--heart-fill);
  transition: fill .3s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition: fill .3s .05s linear;
}

.like-icon.is-liked .heart {
  animation: increase .3s ease-in .01s alternate;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks .3s ease-in .3s alternate;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
  transition: border 0.3s ease;
}

.button {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
} 

.button__text {
  color: var(--button-text-color);
  font-size: 14px;
  font-family: var(--accent-text);
  line-height: 12.6px;
  mix-blend-mode: difference;
  position: relative;
  white-space: nowrap;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  background-color: var(--accent-color);
  content: '';
  transform: scaleX(0);
  transform-origin: left top;
  transition: transform 0.5s ease-in-out;
  position: absolute;
  inset: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.card__like-button {
  border: 2px solid currentColor;
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  position: relative;
}

.save-button {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin: 0 auto 100px;
  padding: 15px 20px;
  position: relative;
}

.save-button svg {
  fill: var(--button-text-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  aspect-ratio: 1/1;
}

@media (width <= 375px) {
  .save-button {
   flex-direction: column;
  }

  .save-button svg {
    inline-size: 30px;
  }
}

.dialog__paragraph {
  color: var(--accent-color);
  font-family: var(--accent-text);
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.dialog[open] .button {
  padding-block-start: 9.5px;
  padding-block-end: 7.5px;
}

.dialog::backdrop {
  background-color: var(--backdrop-color);
  opacity: 0.75;
}

.dialog .button {
  position: relative;
  grid-column: span 2;
  block-size: 100%;
}

.dialog[open] {
  align-items: center;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 39px 1fr;
  row-gap: 30px;
  max-inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  padding: 30px;
}

.dialog[open] svg {
  fill: var(--accent-color);
}

@media (width <= 375px) {
  .dialog[open] {
    padding: 30px 40px;
  }
}

.grayscale {
  filter: grayscale(0.8);
}

.saturate {
  filter: saturate(500%);
}

.hue-rotate {
  filter: hue-rotate(0.1turn);
}

.invert {
  filter: invert(0.7);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(1rem);
}

.combine-filter {
  filter: hue-rotate(0.3turn) opacity(80%) blur(5px);
}