/* TODO delete comment */
/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --accent-color: #000;
  --bg-color: #FFF;
  --bg-image: url(../svg/pattern-light.svg);
  --accent-text: 'Press Start 2P', sans-serif;
  --content-text: 'Inter-Variable', sans-serif;
  --font-wght: 400;
  --title-wght: 700;
  --heart-contour: #000;
  --heart-fill: red;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #00CC14;
    --bg-color: #000;
    --bg-image: url(../svg/pattern-dark.svg);
    --heart-contour: #00CC14;
    --font-wght: 465;
    --title-wght: 785;
  }
}